<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> student data update</h2>
    <form action="" method="post">
    <label for="">Student Name</label>
    <input type="text" name="sname" id=""   value="<%=record.name%>">
    <label for="">Student class</label>
    <input type="text" name="sclass" id=""  value="<%=record.class%>">
    <label for="">Student roll No</label>
    <input type="text" name="srollno" id="" value="<%=record.rollno%>">
    <label for="">Studet total mark</label>
    <input type="text" name="smark" id="" value="<%=record.mark%>">
    <button type="submit">submit</button>
    </form>
</body>
</html>